cat > .gitignore <<'EOF'
# node en el monorepo
**/node_modules/
# angular cache en la raiz
/.angular
/.angular/cache

# dotnet
**/bin/
**/obj/
*.user
*.suo

# build outputs
/dist
/out-tsc

# IDE y misc
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.DS_Store
Thumbs.db
EOF
