cat > web/devlab-web/.gitignore <<'EOF'
# node
node_modules/
dist/
# angular cache especifico del proyecto
.angular
# angular build cache folder
.angular/cache

# envs y editor
.env
.editorconfig

# ide
.vscode/
EOF
